We can do the formatting output in 2 different ways -
1. %
2. {}

%d = int
%s = string
%f or %g = float

In [1]:
name = 'Sumanshu'
age = 31
salary = 10000.25

Now, Let's print above values in different ways

<h4>Method-1</h4>

In [2]:
print(name,age,salary)

Sumanshu 31 10000.25

<h4>Method-2</h4>

In [3]:
print("Name is:",name)
print("Age is:",age)
print("Salary is:",salary)

Name is: Sumanshu
Age is: 31
Salary is: 10000.25

<h4>Method-3</h4>

In [11]:
print("Name: %s Age: %d Salary: %f" %(name,age,salary))
print("Name: %s Age: %d Salary: %g" %(name,age,salary))

Name: Sumanshu Age: 31 Salary: 10000.250000
Name: Sumanshu Age: 31 Salary: 10000.2

<h4>Method-4</h4>

In [13]:
print('Name:{} Age:{} Salary:{}'.format(name,age,salary))

Name:Sumanshu Age:31 Salary:10000.25

<h4>Method-5 - We Pass the Index</h4>

In [16]:
print('Name:{0} Age:{1} Salary:{2}'.format(name,age,salary))
print('Name:{1} Age:{0} Salary:{2}'.format(age,name,salary))

Name:Sumanshu Age:31 Salary:10000.25
Name:Sumanshu Age:31 Salary:10000.25

<h4>Method-6</h4>

In [18]:
print(f'Name:{name} Age:{age} Salary:{salary}')
print(f'Name:{name.upper()} Age:{age} Salary:{salary}')

Name:Sumanshu Age:31 Salary:10000.25
Name:SUMANSHU Age:31 Salary:10000.25

<h4>Method-7</h4>

In [23]:
person = {'name': 'sumanshu', 'age':31}
print(f"Name is {person['name']} and Age is {person['age']}")

Name is sumanshu and Age is 31

<h4>Method-8</h4>

In [24]:
for n in range(1,11):
    print(f"The value is {n}")

The value is 1
The value is 2
The value is 3
The value is 4
The value is 5
The value is 6
The value is 7
The value is 8
The value is 9
The value is 10

<h4>Method-9 - With padding (In below, we want 2 digits number)</h4>

In [26]:
for n in range(1,11):
    print(f"The value is {n:02}")

The value is 01
The value is 02
The value is 03
The value is 04
The value is 05
The value is 06
The value is 07
The value is 08
The value is 09
The value is 10

<h4>Method-10</h4>

In [41]:
pi = 3.14159265
print(f'The value of pi is:{pi}')

# here we not mention 'f' floating point - so it took total 4 digits (does not matter before or after decimal)
print(f'The value of pi is:{pi:.4}')   

# if we want only 4 digits after decimal , then we need to mention 'f'
print(f'The value of pi is:{pi:.4f}')  

print()

x = 13.14159265
print(f'The value of x is:{x}')

# here we not mention 'f' floating point - so it took total 4 digits (does not matter before or after decimal)
print(f'The value of x is:{x:.4}')   

# if we want only 4 digits after decimal , then we need to mention 'f'
print(f'The value of x is:{x:.4f}')

The value of pi is:3.14159265
The value of pi is:3.142
The value of pi is:3.1416

The value of x is:13.14159265
The value of x is:13.14
The value of x is:13.1416

<h4>Method-11</h4>

In [58]:
from datetime import datetime
birthday = datetime(1989,7,25)  #25 July 1989

print(f'Birthday is:{birthday}')
print()
print(f'Birthday is:{birthday:%B %d, %Y}')
print()
print(f'Birthday is:{birthday:%b %d, %Y}')
print()
print(f'Birthday is:{birthday:%b %d, %y}')

Birthday is:1989-07-25 00:00:00

Birthday is:July 25, 1989

Birthday is:Jul 25, 1989

Birthday is:Jul 25, 89